@model SoftCRP.Web.Models.DashBoardV2ViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="ClienteId">Cliente</label>
            <select asp-for="ClienteId" asp-items="Model.Clientes" class="form-control select2">
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="PlacaId">Placa</label>
            <select asp-for="PlacaId" asp-items="Model.Placas" class="form-control select2">
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="AnioId">Año</label>
            <select asp-for="AnioId" asp-items="Model.Anios" class="form-control select2">
            </select>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="MesId">Mes</label>
            <select asp-for="MesId" asp-items="Model.Meses" class="form-control select2">
            </select>
        </div>
    </div>
</div>
<hr />

@*<div id="Estadisticasv1">
    <partial name="_EstadisticasV1PartialView" , model="@Model.EstadisticasV1ViewModel">
</div>


<div id="Estadisticasv2">
    <partial name="_EstadisticasV2PartialView" , model="@Model.EstadisticasV2ViewModel">
</div>*@
<div id="Estadisticas">
    <partial name="_EstadisticasPartialView" , model="@Model.EstadisticasViewModel">
</div>

<div class="loaderbody" id="loaderbody">
    <div class="loader"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $("#loaderbody").addClass('hide');
        $(document).ready(function () {
            $("#ClienteId").change(function () {
                $("#loaderbody").removeClass('hide');
                $("#PlacaId").empty();
                $("#PlacaId").append('<option value="0">[Seleccionar Placa...]</option>');
                if ($("#ClienteId").val() != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPlacas")',
                        dataType: 'json',
                        data: { UserId: $("#ClienteId").val() },
                        success: function (subcategories) {
                            $.each(subcategories, function (i, dato) {

                                $("#PlacaId").append('<option value="'
                                    + dato.text + '">'
                                    + dato.value + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve Plaques.' + ex);
                        }
                    });
                }
                else {
                    $("#PlacaId").empty();
                    $("#PlacaId").append('<option value="0">[Seleccionar Placa...]</option>');
                }
                @*$.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEstadisticasV1")',
                    //dataType: 'json',
                    data: { UserId: $("#ClienteId").val() },
                    success: function (result) {
                        console.log(result);

                        if (result) {
                            $("#Estadisticasv1").html(result);
                            $("#loaderbody").addClass('hide');
                        }
                        else {
                            $("#loaderbody").addClass('hide');
                            return false;
                        }
                    },
                    error: function (ex) {
                        $("#loaderbody").addClass('hide');
                        alert('Failed to retrieve Estadisticas.' + ex);
                    }
                });*@

                ////actualiza estadisticas V2
                @*$.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEstadisticasV2")',
                    //dataType: 'json',
                    data: { UserId: $("#ClienteId").val() },
                    success: function (result) {
                        console.log(result);

                        if (result) {
                            $("#Estadisticasv2").html(result);
                            $("#loaderbody").addClass('hide');
                        }
                        else {
                            $("#loaderbody").addClass('hide');
                            return false;
                        }
                    },
                    error: function (ex) {
                        $("#loaderbody").addClass('hide');
                        alert('Failed to retrieve Estadisticas.' + ex);
                    }
                });*@

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEstadisticas")',
                    //dataType: 'json',
                    data: { UserId: $("#ClienteId").val(), Placa:"" },
                    success: function (result) {
                        console.log(result);

                        if (result) {
                            $("#Estadisticas").html(result);
                            $("#loaderbody").addClass('hide');
                        }
                        else {
                            $("#loaderbody").addClass('hide');
                            return false;
                        }
                    },
                    error: function (ex) {
                        $("#loaderbody").addClass('hide');
                        alert('Failed to retrieve Estadisticas.' + ex);
                    }
                });

                //return false;
            });

            //consultar con placa
            $("#PlacaId").change(function () {
                $("#loaderbody").removeClass('hide');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEstadisticas")',
                    //dataType: 'json',
                    data: { UserId: $("#ClienteId").val(), Placa: $("#PlacaId").val()},
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            $("#Estadisticas").html(result);
                            $("#loaderbody").addClass('hide');
                        }
                        else {
                            $("#loaderbody").addClass('hide');
                            return false;
                        }
                    },
                    error: function (ex) {
                        $("#loaderbody").addClass('hide');
                        alert('Failed to retrieve Estadisticas.' + ex);
                    }
                });

            });


        });
</script>
}
