@model IEnumerable<SoftCRP.Web.Models.SiniestrosDetalleViewModel>
@{
    ViewData["Title"] = "Siniestros";
}

@if (Model == null)
{
    <h2> No existen Datos de GPS</h2>

}
else
{
    <table class="table table-bordered table-striped table-responsive" id="table">
        <thead>
            <tr>
                <th></th>
                <th>PLACA</th>
                <th>EVENTO</th>
                <th>ESTADO</th>
                <th>USUARIO</th>
                <th>TIEMPO DE SINIESTRO</th>
                <th>TIPO DE SINIESTRO</th>
                <th>ANOTACIONES</th>
                <th>FECHA</th>
                <th>Mes</th>
                <th>Anio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(modelItem => item.placa)</td>
                <td>@Html.DisplayFor(modelItem => item.evento)</td>
                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                <td>@Html.DisplayFor(modelItem => item.usuario)</td>
                <td>@Html.DisplayFor(modelItem => item.tiempo_siniestro)</td>
                <td>@Html.DisplayFor(modelItem => item.tipo_siniestro)</td>
                <td>@Html.DisplayFor(modelItem => item.anotaciones)</td>
                <td>@Html.DisplayFor(modelItem => item.fecha_siniestro)</td>
                @if (string.IsNullOrEmpty(item.fecha_siniestro))
                {
                    <td></td>
                    <td></td>
                }
                else
                {
                    <td>
                        @{
                            var mes = item.mes;
                            var messalida = "";
                            if (mes == 1)
                            {
                                messalida = "Enero";
                            }
                            else if (mes == 2)
                            {
                                messalida = "Febrero";
                            }
                            else if (mes == 3)
                            {
                                messalida = "Marzo";
                            }
                            else if (mes == 4)
                            {
                                messalida = "Abril";
                            }
                            else if (mes == 5)
                            {
                                messalida = "Mayo";
                            }
                            else if (mes == 6)
                            {
                                messalida = "Junio";
                            }
                            else if (mes == 7)
                            {
                                messalida = "Julio";
                            }
                            else if (mes == 8)
                            {
                                messalida = "Agosto";
                            }
                            else if (mes == 9)
                            {
                                messalida = "Septiembre";
                            }
                            else if (mes == 10)
                            {
                                messalida = "Octubre";
                            }
                            else if (mes == 11)
                            {
                                messalida = "Noviembre";
                            }
                            else if (mes == 12)
                            {
                                messalida = "Diciembre";
                            }
                            @messalida;
                        }
                    </td>
                            }
                    <td>
                        @{
                            @Html.DisplayFor(modelItem => item.anio);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}