@model IEnumerable<SoftCRP.Web.Data.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id tr">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td id="@item.Id">
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteItem"><i class="fa fa-trash-o"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">

    $(document).ready(function () {
        var id = 0;        
        $('a[id*=btnDeleteItem]').click(function () {
        
        id = $(this).parent()[0].id;
        swal({
            title: "Are you sure?",
            text: "Si eliminar este cliente no lo prodras recuperar!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, Eliminarlo!",
            cancelButtonText: "No, Cancelar Borrar!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                debugger;
                if (isConfirm) {
                    
                    //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    //window.location.href = '/Clientes/Delete/' + id;                   
                    
                    //return false

                        $.ajax({
                        type: 'post',
                        url: '/Clientes/Delete/'+ id,
                        success: function (data) {
                            if (data) {
                                swal('Registro Eliminado', 'success');
                                window.location.href = '/Clientes';
                                //$("#"+id+" tr").fadeOut( $("#"+id+" tr").remove());
                            }
                            else {
                                swal('No se pudo eliminar','warning');
                                return false;
                            }
                        }
                        });

                } else {
                    swal("Cancelar", "Borrado cancelado :)", "error");
                    return false
                }
                
            });
            return false
    });
       
    });
</script>
}