@model SoftCRP.Web.Data.Entities.Capacitacion

@{
    ViewData["Title"] = "Details";
}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                    <h2 class="card-title" style="font-style:oblique"><b>DETALLES CAPACITACION</b></h2>
                </div>

                <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>
                            Tipo
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tipoCapacitacion.Tipo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Link)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Link)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Test)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Test)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>

                    </dl>
                </div>



                <div class="card-footer">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Renting")))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.Id" style="background-color:#002D73; color:#ffffff;" class="btn btn"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                    }
                    @*<a asp-action="Index">Back to List</a>*@
                    <a asp-action="Index" style="background-color:#F2AE0B; color:#ffffff;" class="btn btn"><i class="fas fa-angle-double-left">&nbsp;</i>Regresar</a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <iframe width="500" height="300"
                    src=@Model.Link
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
        </div>
    </div>

        <hr />

        <div class="col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color:#002D73; color:#ffffff;">
                    <h2 class="card-title" style="font-style:oblique"><b>ARCHIVOS</b></h2>
                </div>

                <div class="card-body">
                    <div class="row">


                        @if (Model.archivoCapacitaciones.Count == 0)
                        {
                            <h5>No contiene archivos cargados aun.</h5>
                        }
                        else
                        {
                            @*<table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ArchivosAnalisis.FirstOrDefault().ArchivoPath)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ArchivosAnalisis)
                                    {
                                        <tr>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.ArchivoPath))
                                                {
                                                    <img src="@Url.Content(item.ArchivoPath)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                                }
                                            </td>
                                            <td>
                                                <a asp-action="DeleteFile" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>*@
                            <div class="row">

                                @foreach (var item in Model.archivoCapacitaciones)
                                {
                                    var tamaniokb = item.tamanio / 1024;
                                    <div class="col-md-3">
                                        <div class="card card-navy">
                                            <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                                                <h3 class="card-title">@item.TipoArchivo</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                                        <i class="fas fa-expand"></i>
                                                    </button>
                                                </div>
                                                <!-- /.card-tools -->
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                @if (item.TipoArchivo == ".jpg" || item.TipoArchivo == ".png")
                                                {
                                                    <img class="card-img-top img-thumbnail img-fluid" src="@item.ArchivoPath" asp-append-version="true" />
                                                }
                                                else
                                                {
                                                    <img class="card-img-top img-thumbnail img-fluid" src="~/images/nofiles.png" asp-append-version="true" />
                                                }

                                                <p>Tamaño: @tamaniokb.ToString() KB</p>
                                                <p>Fecha Carga: @item.Fecha</p>
                                                <p>Creador por: @item.capacitacion.user.UserName </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="float-right">

                                                    @*<button type="button" class="btn btn-default btn-sm">
                                                        <i class="fas fa-cloud-download-alt"></i>
                                                    </button>*@
                                                    <a asp-action="DownloadFile" asp-route-id="@item.Id" class="btn btn-default btn-sm"><i class="fas fa-cloud-download-alt"></i></a>
                                                </div>

                                                @*@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Renting")))
                                                {
                                                    <button type="button" data-id="@item.Id" class="btn btn-danger btn-sm deletefile" data-toggle="modal" data-target="#deleteDialog">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                }*@

                                                @*<a asp-action="DeleteFile" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>*@
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                }

                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>






        <!--Delete Item-->
        <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete the record?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script type="text/javascript">
                $(document).ready(function () {

                    /////

            //        var $videosYoutube = $("iframe[src*='www.youtube.com']"),
		          //  // el padre contenedor
		          //  $v_container = $("body section");

            //// iteramos todos los videos de youtube y guardamos sus proporciones
            //        $videosYoutube.each(function () {
	           //         $(this)
			         //           .attr('proportion', this.height / this.width)
			         //           //removemos las dimenciones del video
			         //           .removeAttr('height')
			         //           .removeAttr('width');

            //        });

            //        // Cuando se redimenciona la ventana
            //        $(window).resize(function () {

	           //         var container_width = $v_container.width();

	           //         // Resize all videos according to their own aspect ratio
	           //         $videosYoutube.each(function () {

		          //          var $el = $(this);
		          //          $el
				        //            .width(container_width)
				        //            .height(container_width * $el.attr('proportion'));

	           //         });
            //        }).resize(); // invocamos el método a la carga

                    /////
                    // Delete item
                    var item_to_delete;
                    var action_to_delete;

                    $('.deletefile').click((e) => {
                        item_to_delete = e.currentTarget.dataset.id;
                        action_to_delete = 1;
                    });

                    $('.deleteContract').click((e) => {
                        item_to_delete = e.currentTarget.dataset.id;
                        action_to_delete = 2;
                    });

                    $("#btnYesDelete").click(function () {
                        if (action_to_delete == 1) {
                            window.location.href = '/SoftCRPWeb/Analisis/DeleteFile/' + item_to_delete;
                            //window.location.href = '/Capacitaciones/DeleteFile/' + item_to_delete;
                        } else {
                            window.location.href = '/Owners/DeleteContract/' + item_to_delete;
                        }
                    });
                });
            </script>
        }
