@model IEnumerable<SoftCRP.Web.Models.VehiculosClientesViewModel>

    @{
    ViewData["Title"] = "Información General";
    }


    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />*@
    <br />
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Renting")))
{
    <div class="row">
        <!-- SEARCH FORM -->
        <form method="post" class="form-inline ml-3">
            <div class="input-group input-group-sm">
                @*<input class="form-control form-control-navbar" id="buscarcliente" name="buscarcliente" type="text" placeholder="RUC Cliente" aria-label="Search">*@
                <div class="input-group-append">
                    @*<button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>*@
                    @*<a asp-action="Index" asp-route-id="{buscarcliente}" class="btn-navbar"><i class="fa fa-search"></i></a>*@

                    @*<button type="submit" asp-route-id="{buscarcliente}" class="btn btn" style="background-color:#F2AE0B   ; color:#ffffff;"><i class="fa fa-search"></i>&nbsp;Buscar</button>*@

                </div>
            </div>
        </form>
    </div>

}
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color:#002D73; color:#ffffff;">
                    @if (ViewBag.ClienteViewModel!=null)
                {
                    <h2 class="card-title"><b>FLOTA DEL CLIENTE @ViewBag.ClienteViewModel.nombre</b></h2>
                }
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="tableVehiculos">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.codigo_activo)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.placa)
                                </th>

                                @*<th>
                                        @Html.DisplayNameFor(model => model.historial_vh)
                                    </th>*@
                                <th>Ver detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="Search">
                                <td>
                                    @Html.DisplayFor(modelItem => item.codigo_activo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.placa)
                                </td>

                                @*<td>
                                        @Html.DisplayFor(modelItem => item.historial_vh)
                                    </td>*@
                                <td id="@item.placa">
                                    <a asp-action="Details" asp-route-id="@item.placa" class="btn btn" style="background-color:#F2AE0B    ; color:#ffffff;"><i class="fa fa-list"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-flash-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.css" />

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-flash-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>

        <script type="text/javascript">

        $(document).ready(function () {

            var table = $("#tableVehiculos").DataTable({
                autoFill: true,
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false,
                responsive: true,
                processing: true,
                dom: 'lfrtip',
                language: {

                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },

                //order: [[1, 'asc']]
            });

            //new $.fn.dataTable.Buttons( table, {
            //    buttons: [
            //    'copy', 'excel', 'pdf'
            //    ]
            //});

            //table.buttons().container()
            //    .appendTo($('.col-sm-6:eq(0)', table.table().container()));

        });
        </script>
    }

    @*<h2>Vehiculos del Cliente</h2>
        <div class="container">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Search" class="form-control"/>
                </div>

            </div>
        </div>
        <br />

        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.codigo_activo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.placa)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.historial_vh)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="Search">
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo_activo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.placa)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.historial_vh)
                        </td>
                        <td id="@item.placa">
                            <a asp-action="Details" asp-route-id="@item.placa" class="btn btn-info"><i class="fa fa-info-circle"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script>
                $(document).ready(function () {
                    function Contains(text_one, text_two) {
                        if (text_one.indexOf(text_two) != -1)
                            return true;
                    }
                    $('#Search').keyup(function () {
                        var searchText = $('#Search').val().toLowerCase();
                        $(".Search").each(function () {
                            if (!Contains($(this).text().toLowerCase(), searchText)) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        });
                    });
                });
            </script>
        }*@
